<div class="card card-1">
  <div class="flexColumn">
    <div class="sidebarData">
      <h5>Overall Counts</h5>
      <div class="center">
        <span id="count1" class="badge badgeLine orange"></span>
      </div>
    </div>
    <div class="sidebarData">
      <h5>Overall Recovered</h5>
      <div class="center">
        <span id="count2" class="badge badgeLine green"></span>
      </div>
    </div>
    <div class="sidebarData">
      <h5>Overall Deaths</h5>
      <div class="center">
        <span id="count3" class="badge badgLine red"></span>
      </div>
    </div>
    <div class="sidebarData">
      <h5>Last updated Deaths</h5>
      <div class="center black">
        <span class="badge badgeLine">{{date}}</span>
      </div>
    </div>
  </div>
</div>