
body, html {
  font-family: 'Nunito', sans-serif !important;
  background-color:var(--body-background);
  }

  .navColor {
    background-color: var(--nav-background)!important;
}
.navText{
  color:var(--nav-text-color)!important;
}
.searchText{
  color:var(--search-text)!important;
}
.searchInput{
  background-color: var(--search-background)!important;
  color:var(--search-font)!important;
  border: 1px solid var(--search-border)!important;
  outline:none!important
}
.footer-muted{
  color:var(--footer-text)!important;
}
.card-header{
  color:var(--card-header-color)!important;
}
.footerIcon{
  color:var(--footer-icon)!important;
}
.ngx-table{
 background-color:var(--table-background)!important;
 color:var(--table-font)!important
}
.ngx-table__header-cell{
  color:var(--table-header)!important;
}
.is-active .footerIcon{
  color:var(--is-Active)!important;
}
.ngx-table th,.ngx-table td{
  border-bottom:1px solid var(--table-border)!important;
}
.ngx-pagination li{
  border:1px solid var(--table-border)!important;
}
.ngx-table tbody tr:hover {
  background:  var(--table-hover)!important;
}

  .card {
    background:var(--card-background);
    color:var(--card-font-color)!important;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    padding-left:20px;
  }
  .cardLabel{
    color:var(--card-font-label)!important;
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  /* You can add global styles to this file, and also import other style files */
  .loader {
    padding: 20px;
    display: flex;
    justify-content: center;  
    align-items: center;
    height:calc(100vh - 8vw)
  }
  .loading {
    border: 2px solid #f3f3f3 !important;
    border-radius: 50%;
    border-top: 2px solid #2D2D2D !important;
    width: 29px;
    height: 29px;
    -webkit-animation: spin_loader_ajax_small 2s linear infinite;
    animation: spin_loader_ajax_small 2s linear infinite;
  }
  
  @-webkit-keyframes spin_loader_ajax_small {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin_loader_ajax_small {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .light{
    color:lightgrey;
  }
  .dark{
    color:#000
  }
  .orange{
    color: orange;
    }
    .red{
    color: red;
    
    }
    .green{
      color: green;
    
    }
    li{
      list-style: none;
    }

  .shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    }
    .fontSize{
      font-size: 1.25rem
    }